body {
  background-color:#E1F2E5;
  font-family: sans-serif;
 }
 .logintext {
  text-align: center;
  padding: 50px;
  color: #42553A;
  font-family: sans-serif;
 }
 .login-container {

  width: 350px;
  margin: 0 auto;
  text-align: center;
    padding: 40px;
  border-radius: 15px;
  justify-content: center;
  width: 500px;
  height: 100%; /* Use min-height instead of height */
  margin: 0 auto;
  background-color: #9EBCA1;
  align-items: center; /* Vertically center the content */
 }
 .login-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-family: sans-serif;
 }
 
 .login-container button {
  width: 96%;
  padding: 10px;
  background-color: #234F1E;
  color: white;
  border-radius: 15px;
  font-size: 20px;
 }

.email,
.password {
  width: 90%;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
}
